# Keep only the task08_b project structure and this ignore file.
*
!.gitignore

!task08_b/
!task08_b/application/
!task08_b/application/Dockerfile
!task08_b/application/app.py
!task08_b/application/requirements.txt

!task08_b/k8s-manifests/
!task08_b/k8s-manifests/deployment.yaml.tftpl
!task08_b/k8s-manifests/secret-provider.yaml.tftpl
!task08_b/k8s-manifests/service.yaml

!task08_b/modules/
!task08_b/modules/aca/
!task08_b/modules/aca/main.tf
!task08_b/modules/aca/outputs.tf
!task08_b/modules/aca/variables.tf
!task08_b/modules/aci_redis/
!task08_b/modules/aci_redis/main.tf
!task08_b/modules/aci_redis/outputs.tf
!task08_b/modules/aci_redis/variables.tf
!task08_b/modules/acr/
!task08_b/modules/acr/main.tf
!task08_b/modules/acr/outputs.tf
!task08_b/modules/acr/variables.tf
!task08_b/modules/aks/
!task08_b/modules/aks/main.tf
!task08_b/modules/aks/outputs.tf
!task08_b/modules/aks/variables.tf
!task08_b/modules/k8s/
!task08_b/modules/k8s/main.tf
!task08_b/modules/k8s/outputs.tf
!task08_b/modules/k8s/variables.tf
!task08_b/modules/k8s/versions.tf
!task08_b/modules/keyvault/
!task08_b/modules/keyvault/main.tf
!task08_b/modules/keyvault/outputs.tf
!task08_b/modules/keyvault/variables.tf
!task08_b/modules/storage/
!task08_b/modules/storage/main.tf
!task08_b/modules/storage/outputs.tf
!task08_b/modules/storage/variables.tf

!task08_b/locals.tf
!task08_b/main.tf
!task08_b/outputs.tf
!task08_b/terraform.tfvars
!task08_b/variables.tf
!task08_b/versions.tf
